
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/white-waves.png);
  }



  h1 {
    display: flexbox;
    text-align: center;
    font-size: 40px;
    background-color: orange;
    color: whitesmoke;
    padding: 10px;

  }

  img{
    position: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  span.a {
    display: flexbox;
    font-size: 16px;
    line-height:1.6;
    color: teal;
  }

  span.b {
    display: inline-block;
    font-size: 20px;
    line-height:1.6;
    background: teal;
    color: whitesmoke;
    padding: 30px;
  }

  span.c {
    display: inline-block;
    font-size: 20px;
    line-height:1.6;
    background: purple;
    color: whitesmoke;
    padding: 30px;
  }